<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet> -->

<div style="text-align:center"></div>
  <h1>
    比較する単価と内容量を入力して比較ボタンを押してください。
  </h1>
  <table>
    <tr>
      <td>
        <h2>A</h2>
      </td>
      <td>
        <h2>B</h2>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="min-width">
          <input [(ngModel)]="kinA" matInput type="number" placeholder="金額" >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="min-width">
          <input [(ngModel)]="kinB" matInput type="number" placeholder="金額" >
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="min-width">
          <input [(ngModel)]="ryoA" matInput type="number" placeholder="内容量" >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="min-width">
          <input [(ngModel)]="ryoB" matInput type="number" placeholder="内容量" >
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <button mat-raised-button color="primary" matTooltip="比較"
          (click)="calcAtoB(kinA,kinB,ryoA,ryoB)">
          比較<mat-icon id="swap_vert">swap_vert</mat-icon>
        </button>
      </td>
      <td>
        <button mat-raised-button color="primary" matTooltip="Clear"
          (click)="clearAtoB()">
          Clear<mat-icon id="clear">clear</mat-icon>
        </button>
      </td>
    </tr>
</table>
<h1>
   {{ calcresult }}
</h1>